$color-primary: #9862fc;
$color-primary-light: #cdc4de;
$color-primary-dark: #490bbb;

$color-secondary: #fff0be;
$color-secondary-light: #fff8b5;
$color-secondary-dark: #ff6d2a;

$color-tertiary: #ffb7c1;
$color-tertiary-light: #ffb395;
$color-tertiary-dark: #f84059;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #666;
$color-white: #fff;

//FONT
$font-default-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//card
$card-height: 50rem;
