.footer {
	background-color: $color-dark-1;
	padding: 10rem 0;
	font-size: 1.4rem;

	@include responsive(tab-port) {
		padding: 8rem 0;
	}

	&__logo-box {
		text-align: center;
		margin-bottom: 6rem;

		@include responsive(tab-port) {
			margin-bottom: 4rem;
		}
	}

	&__logo {
		width: 12rem;
		height: auto;
	}

	&__navigation {
		border-top: 1px solid $color-grey-dark;
		padding-top: 2rem;
		display: inline-block;

		@include responsive(tab-port) {
			width: 100%;
			text-align: center;
		}
	}

	&__list {
		list-style: none;
	}

	&__item {
		display: inline-block;

		&:not(:last-child) {
			margin-right: 4rem;
		}
	}

	&__copyright {
		color: $color-grey-light-1;
		border-top: 1px solid $color-grey-dark;
		padding-top: 2rem;
		display: inline-block;
		width: 85%;
		float: right;
		@include responsive(tab-port) {
			width: 100%;
			text-align: center;
			float: none;
		}
	}

	&__link {
		&:link,
		&:visited {
			color: $color-grey-light-1;
			background-color: $color-dark-1;
			text-decoration: none;
			text-transform: uppercase;
			display: inline-block;
			padding: 0 .5rem;
			transition: all .3s;
		}

		&:hover,
		&:active {
			color: $color-primary;
			box-shadow: 0 1rem 2rem rgba(0, 0, 0, .5);
			transform: scale(1.1) rotate(5deg);
		}
	}
}
