.navigation {
	&__checkbox {
		display: none;
	}

	&__button {
		background-color: $color-white;
		height: 7rem;
		width: 7rem;
		border-radius: 50%;
		position: fixed;
		top: 6rem;
		right: 6rem;
		z-index: 100;
		text-align: center;
		cursor: pointer;
	}

	&__background {
		height: 6rem;
		width: 6rem;
		border-radius: 50%;
		position: fixed;
		top: 6.5rem;
		right: 6.5rem;
		background-image: radial-gradient($color-primary, $color-primary-dark);
		z-index: 20;
		box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
		transition: transform .8s cubic-bezier(0.83, 0, 0.17, 1);
		// transform: scale(80);
	}
	&__nav {
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 30;
		opacity: 0;
		width: 0;
		transition: all .8s cubic-bezier(0.83, 0, 0.17, 1);
	}
	&__list {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		list-style: none;
		text-align: center;
		width: 100%;
	}
	&__item {
		margin: 1rem;
	}
	&__link {
		&:link,
		&:visited {
			display: inline-block;
			color: $color-white;
			font-size: 3rem;
			font-weight: 300;
			padding: 1rem 2rem;
			text-decoration: none;
			text-transform: uppercase;
			background-image: linear-gradient(120deg, transparent 50%, $color-white 50%);
			background-size: 230%;
			transition: all .4s;

			span {
				display: inline-block;
				margin-right: 1rem;
			}
		}

		&:hover,
		&:active {
			color: $color-primary;
			background-position: 100%;
			transform: translateX(1rem);
		}
	}

	//FUNCTIONALITY
	&__checkbox:checked ~ &__background {
		transform: scale(80);
	}
	&__checkbox:checked ~ &__nav {
		opacity: 1;
		width: 100%;
	}

	//ICON
	&__icon {
		position: relative;
		margin-top: 3.5rem;
		&,
		&::before,
		&::after {
			width: 3rem;
			height: 2px;
			background-color: $color-dark-1;
			display: inline-block;
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;
			transition: all .2s;
		}

		&::before {
			top: -.8rem;
		}

		&::after {
			top: .8rem;
		}
	}

	&__button:hover &__icon::before {
		top: -1rem;
	}

	&__button:hover &__icon::after {
		top: 1rem;
	}

	&__checkbox:checked + &__button &__icon {
		background-color: transparent;
		&::before {
			top: 0;
			transform: rotate(135deg);
		}
		&::after {
			transform: rotate(-135deg);
			top: 0;
		}
	}
}
