%btn-placeholder {
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	border-radius: 100px;
	transition: all .15s;
	position: relative;
}

.btn {
	&:link {
		@extend %btn-placeholder;
	}

	&:visited {
		@extend %btn-placeholder;
	}

	&:hover {
		transform: translateY(-3px);
		box-shadow: 0 10px 20px rgba(5, 15, 80, 0.5);
		&::after {
			transform: scale(1.4);
			opacity: 0;
		}
	}

	&:active {
		transform: translateY(1px);
		box-shadow: 0 5px 10px rgba(6, 12, 49, 0.5);
	}

	&--white {
		background-color: $color-white;
		padding: 15px 40px;
		color: $color-grey-dark;

		&::after {
			background-color: $color-white;
		}
	}

	&::after {
		content: "";
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 100px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all .4s;
	}

	&--animated {
		animation: moveInButton .5s ease-out .5s;
		animation-fill-mode: backwards;
	}
}

.btn-text {
	&:link,
	&:visited {
		color: $color-primary-light;
		font-size: $font-default-size;
		display: inline-block;
		text-transform: uppercase;
		text-decoration: none;
		border-bottom: 1px solid $color-primary-light;
		padding: 3px;
		transition: all .2s;
	}

	&:hover {
		// background-color: $color-primary-light;
		background-image: linear-gradient(to right, $color-primary, $color-primary-dark);
		color: $color-white;
		border-bottom: 1px solid $color-white;
		box-shadow: 0 1rem 2rem rgba(5, 15, 80, 0.15);
		transform: translateY(-2px);
	}

	&:active {
		box-shadow: 0 .5rem 1rem rgba(5, 15, 80, 0.15);
		transform: translateY(0);
	}
}
