.card {
	perspective: 150rem;
	-moz-perspective: 150rem;
	position: relative;
	height: $card-height;

	&:hover &__side--a {
		transform: rotateY(-180deg);
	}

	&:hover &__side--b {
		transform: rotateY(0);
	}

	&__side {
		//FUNCTIONAL
		background-color: $color-primary;
		height: $card-height;
		transition: all .8s ease;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		backface-visibility: hidden;
		border-radius: 4px;
		overflow: hidden;
		box-shadow: 0 1.5rem 4rem rgba(5, 15, 80, 0.25);
		&--a {
			background-color: $color-white;
		}

		&--b {
			transform: rotateY(180deg);
			&-1 {
				background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
			}

			&-2 {
				background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
			}
			&-3 {
				background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
			}
		}
	}
	//FRONT-SIDE STYLING
	&__img {
		background-size: cover;
		height: 28rem;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
		&--1 {
			background-image: linear-gradient(
					to right bottom,
					rgba($color-secondary-light, .5),
					rgba($color-secondary-dark, .5)
				),
				url(../img/case5.jpg);
		}
		&--2 {
			background-image: linear-gradient(
					to right bottom,
					rgba($color-primary-light, .5),
					rgba($color-primary-dark, .5)
				),
				url(../img/case6.jpg);
		}
		&--3 {
			background-image: linear-gradient(
					to right bottom,
					rgba($color-tertiary-light, .5),
					rgba($color-tertiary-dark, .5)
				),
				url(../img/case4.jpg);
		}
	}

	&__heading {
		font-size: 2.8rem;
		color: $color-white;
		font-weight: 300;
		text-transform: uppercase;
		text-align: left;
		position: absolute;
		left: 1rem;
		top: 18rem;
		width: 75%;
	}

	&__heading-span {
		padding: 1rem 1.5rem;
		box-decoration-break: clone;
		-webkit-box-decoration-break: clone;
		&--1 {
			background-image: linear-gradient(
				to right bottom,
				rgba($color-secondary-light, .9),
				rgba($color-secondary-dark, .9)
			);
		}
		&--2 {
			background-image: linear-gradient(
				to right bottom,
				rgba($color-primary-light, .9),
				rgba($color-primary-dark, .9)
			);
		}

		&--3 {
			background-image: linear-gradient(
				to right bottom,
				rgba($color-tertiary-light, .9),
				rgba($color-tertiary-dark, .9)
			);
		}
	}

	&__detail {
		padding: 3rem;
		ul {
			list-style: none;
			width: 80%;
			margin: 0 auto;
			li {
				text-align: center;
				font-size: 1.5rem;
				padding: 1rem;

				&:not(:last-child) {
					border-bottom: 1px solid $color-grey-light-2;
				}
			}
		}
	}

	&__cta {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 90%;
		text-align: center;
	}

	&__text-box {
		text-align: center;
		margin-bottom: 3rem;
	}

	&__text-paragraph {
		font-size: 2.2rem;
		text-transform: uppercase;
		color: $color-white;
	}
}
