.composition {
	position: relative;
	&__img {
		width: 50%;
		box-shadow: 0 1.5rem 4rem rgba(6, 12, 49, 0.3);
		border-radius: 2px;
		position: absolute;
		transition: all .2s;
		outline-offset: 2rem;

		@include responsive(tab-port) {
			position: relative;
			float: left;
			width: 33.3333%;
			box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
		}

		&--p1 {
			left: 1rem;
			top: 2rem;
			@include responsive(tab-port) {
				top: 0;
			}
		}

		&--p2 {
			right: 0;
			top: 8rem;
			@include responsive(tab-port) {
				top: 0;
			}
		}

		&--p3 {
			left: 20%;
			top: 20rem;
			@include responsive(tab-port) {
				top: 0;
				left: 0;
			}
		}
		&:hover {
			outline: 1rem solid $color-primary-light;
			transform: scale(1.1) translateY(-.5rem) translateX(.5rem);
			box-shadow: 0 2rem 4.5rem rgba(0, 0, 0, 0.3);
			z-index: 30;
		}
	}
	&:hover &__img:not(:hover) {
		transform: scale(0.9);
	}
}
