.feature-box {
	background-color: rgba($color-white, 0.65);
	font-size: 1.5rem;
	padding: 2.5rem;
	text-align: center;
	border-radius: 4px;
	box-shadow: 0 1.5rem 4rem rgba(5, 15, 80, 0.25);
	transition: all .2s;

	&__icon {
		font-size: 6rem;
		margin-bottom: .5rem;
		background-image: linear-gradient(to right, $color-primary, $color-primary-dark);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}

	&:hover {
		transform: translateY(-1.5rem) scale(1.03);
		background-color: rgba($color-white, 0.85);
	}
}
