*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%; //1rem = 10px  10px/16px = 62.5

	@include responsive(tab-land) {
		font-size: 56.25%; //1rem=9px 9/16=
	}

	@include responsive(tab-port) {
		font-size: 50%; //1rem = 8 px 8/16=50%
	}

	@include responsive(big-desktop) {
		font-size: 75%; //1rem=12px
	}
}

body {
	box-sizing: border-box;
	padding: 3rem;

	@include responsive(tab-port) {
		font-size: 50%; //1rem = 8 px 8/16=50%
		padding: 0;
	}
}
