.section-about {
	background-color: $color-grey-light-1;
	padding: 25rem 0;
	margin-top: -15vh;

	.composition__img {
		z-index: 5;
	}
}

.section-skills {
	padding: 20rem 0;
	@include responsive(tab-port) {
		padding: 10rem 0;
	}
	background-image: linear-gradient(
			to right bottom,
			rgba($color-primary-light, 0.75),
			rgba($color-primary-dark, 0.75)
		),
		url(../img/tiger-2.jpg);
	background-position: bottom;
	transform: skewY(-8deg);
	margin-top: -11rem;
	& > * {
		transform: skewY(8deg);
	}
}

.section-project {
	background-color: $color-grey-light-1;
	padding: 25rem 0;
	margin-top: -11rem;

	@include responsive(tab-port) {
		padding: 20rem 0 10rem 0;
	}
}

.section_profession {
	padding: 15rem 0;
	position: relative;

	@include responsive(tab-port) {
		padding: 10rem 0;
	}
}

.section-contact {
	padding: 15rem 0;
	background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.contact {
	background-image: linear-gradient(80deg, rgba($color-white, 0.85) 50%, transparent 50%), url(../img/tiger-3.jpg);
	background-size: 100%;
	border-radius: 4px;
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.35);

	@include responsive(tab-land) {
		background-image: linear-gradient(
				80deg,
				rgba($color-white, 0.85) 0%,
				rgba($color-white, 0.85) 65%,
				transparent 65%
			),
			url(../img/tiger-3.jpg);
		background-size: cover;
	}

	@include responsive(tab-port) {
		background-image: linear-gradient(to right, rgba($color-white, 0.85) 0%, rgba($color-white, 0.85) 100%),
			url(../img/tiger-3.jpg);
	}

	&__form {
		width: 50%;
		padding: 6rem;

		@include responsive(tab-land) {
			width: 65%;
		}
		@include responsive(tab-port) {
			width: 100%;
		}
	}
}
